<%= link_to garment_path(garment) do %>
  <% if garment.photos.attached? %>
    <div class="card-garment <%= 'show-page' if show_all_photos %>">

      <% if show_all_photos %>
        <% garment.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: 'card-garment-img', alt: garment.title %>
        <% end %>
      <% else %>
        <%= cl_image_tag garment.photos.first.key, class:"card-garment-img", alt: garment.title %>
      <% end %>

      <div class="card-garment-infos">
        <p class="garment-title"><%= garment.title %></p>
        <p class="card-garment-pricing">€<%= garment.price %> per day</p>
        <p class="garment-size">Size: <%= garment.size %></p>
        <p class="garment-brand"><%= garment.brand %></p>
      </div>
    </div>
  <% end %>
<% end %>
