<%= link_to garment_path(garment) do %>
  <div class="card-garment <%= 'show-page' if show_all_photos %> <%= 'sold-out' if garment.sold? %>">
    <% if garment.cloudinary_photos.present? %>
      <div class="garment-image-wrapper">
        <%= image_tag garment.cloudinary_photos.first, class: 'card-garment-img', alt: garment.title %>
      </div>
    <% end %>

    <div class="card-garment-infos">
      <p class="garment-title"><%= garment.title %></p>
      <p class="card-garment-pricing">£<%= garment.price %></p>
      <p class="garment-size">Size: <%= garment.size %></p>
      <p class="garment-brand"><%= garment.brand %></p>
    </div>
  </div>
<% end %>
