<div id="feed">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('dennis-zhang-JfYu7iwHhe0-unsplash.jpg') %>');">
    <h3 class="card-title">Source the rarest vintage streetwear pieces </h3>
    <p class="card-subtitle">Vintage streetwear. East meets west.</p>
  </div>

  <div class="main-wrapper">
    <% if @selected_category.present? %>
      <div class="new-in-container">
        <h3><%= @selected_category.name %></h3>
      </div>
    <% else %>
      <div class="new-in-container">
        <h3>New in</h3>
      </div>
    <% end %>

    <div class="grid">
      <% if @garments.exists? %>
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false } %>
        <% end %>
      <% else %>
        <% if params.dig(:search, :query).present? %>
          <p>Outside the construct "<%= params[:search][:query] %>".</p>
        <% else %>
          <p>No garments found.</p>
        <% end %>
      <% end %>
    </div>

    <% unless @selected_category.present? %>
      <div class="the-ruby-edit-container">
        <h3>All Pieces</h3>
      </div>

      <div class="grid">
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="footer-index">
      <div class="links">
        <a href="#">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </div>
    </div>
</div>
