<div class="show-page-container">
  <div class="main-wrapper">
    <div class="styles-container-grid">
      <div class="styles-images-container">
        <% if @garment.photos.attached? %>
          <% @garment.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class:"garment-image", alt: @garment.title %>
          <% end %>
        <% end %>
      </div>
      <div class="styles-info-container">
        <h1><%= @garment.title %></h1>
        <p>Price: €<%= @garment.price %></p>
        <p>Size: <%= @garment.size %></p>
        <p>Brand: <%= @garment.brand %></p>
        <p>Details: <%= @garment.description %></p>

        <%= link_to 'ADD TO CART', edit_garment_path(@garment), class: "rent-button" %>
      </div>
    </div>
  </div>
</div>
