<div class="show-page-container">
  <div class="main-wrapper">
    <div class="styles-container-grid">
      <div class="styles-images-container">
        <% if @garment.photos.attached? %>
          <% @garment.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class:"garment-image", alt: @garment.title %>
          <% end %>
        <% end %>
      </div>
      <div class="styles-info-container">
        <h1><%= @garment.title %></h1>
        <p>Price: €<%= @garment.rental_price %> per day</p>
        <p>Size: <%= @garment.size %></p>
        <p>Brand: <%= @garment.brand %></p>
        <p>Details: <%= @garment.description %></p>

        <% if user_signed_in? %>
        <button class="rent-button">Rent</button>
        <button class="rent-button">Message</button>
        <% else %>
        <button class="rent-button login-trigger">Rent</button>
        <button class="rent-button login-trigger">Message</button>
        <% end %>
        <%= link_to 'Edit listing', edit_garment_path(@garment), class: "rent-button" %>
        <%= button_to 'Delete listing', garment_path(@garment), method: :delete, data: { confirm: 'Are you sure you want to delete this garment?' }, class: "rent-button" %>
      </div>
    </div>
  </div>
</div>
<%= render 'devise/sessions/modal' %>
