<div class="user-show-page-container">
  <div class="user-main-wrapper">
    <div class="user-info-container">
      <div class="user-profile-photo">
        <%= cl_image_tag @user.profile_photo.key, alt: @user.username if @user.profile_photo.attached? %>
      </div>
      <div class="user-details">
        <h2><%= @user.username %></h2>
        <div class="user-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> 
          <p>(300)</p>
        </div>
      </div>
    </div>

    <div class="user-follow-info">
      <span class="followers-count"><strong>14.4K</strong> Followers</span>
      <span class="following-count"><strong>700</strong> Following</span>
    </div>
    <div class="user-description">
      <p>Vintage Streetwear. East Meets West.</p>
    </div>

    <div class="user-products-tab-container">
      <div class="user-grid">
        <% @garments.each do |garment| %>
         <%= link_to garment_path(garment), class: 'card-garment-link' do %>
          <div class="card-garment">
            <%= cl_image_tag garment.photos.first.key, alt: garment.title, class: 'garment-image' if garment.photos.attached? %>
            <div class="card-garment-infos">
              <h3 class="garment-title"><%= garment.title %></h3>
              <p class="card-garment-pricing">Price: €<%= garment.rental_price %> per day</p>
              <p class="garment-size">Size: <%= garment.size %></p>
              <p class="garment-brand">Brand: <%= garment.brand %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
