<div class="cart-layout-wrapper">
  <div class="cart-page-container">
    <h2>Your Cart</h2>

    <% if @cart_items.empty? %>
      <div class="cart-empty-message">
        <p class="cart-empty-text">Cart failed to load… or is empty?</p>

        <div class="empty-cart-wrapper">
          <img src="<%= asset_path('emptycart gif 1.gif') %>" alt="Matrix Empty Cart" class="empty-cart-gif">
        </div>
      </div>
    <% else %>
      <div class="cart-grid">
        <div class="cart-items-list">
          <% @cart_items.each do |entry| %>
            <div class="cart-item">
              <%= link_to garment_path(entry[:item]) do %>
                <% if entry[:item].photos.attached? %>
                  <%= cl_image_tag entry[:item].photos.first.key, class: "cart-image", alt: entry[:item].title %>
                <% else %>
                  <img src="<%= asset_path('placeholder-image.jpg') %>" alt="Placeholder Image" class="cart-image">
                <% end %>
              <% end %>

              <div class="cart-item-info">
                <h3><%= entry[:item].title %></h3>
                <p>Price: £<%= entry[:item].price %></p>
                <p>Size: <%= entry[:item].size %></p>
                <p>Brand: <%= entry[:item].brand %></p>
                <%= button_to "Remove", cart_item_path(entry[:item]), method: :delete, class: "pill-button pill-button--small" %>
              </div>
            </div>
          <% end %>
        </div>


        <div class="cart-summary">
          <div class="cart-summary-items">
            <% @cart_items.each do |entry| %>
              <p><%= entry[:item].title %>: £<%= entry[:item].price * entry[:quantity] %></p>
            <% end %>
          </div>

          <div class="cart-summary-total">
            <p><strong>Subtotal: £<%= @cart_items.sum { |entry| entry[:item].price * entry[:quantity] } %></strong></p>
          </div>

          <p class="cart-summary-note">Shipping & taxes calculated at checkout</p>

          <div class="cart-summary-actions">
            <%= link_to "Continue Shopping", garments_path, class: "pill-button pill-button--small cart-nav-btn" %>
            <button id="checkout-button" class="pill-button pill-button--small cart-nav-btn">Checkout</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
